<md-toolbar color="primary">
  Photo Bucket
  <span fxFlex></span>
  <button *ngIf="authService.isSignedInStream | async" md-icon-button [mdMenuTriggerFor]="signOutMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #signOutMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item (click)="authService.signOut()">Sign Out</button>
  </md-menu>
</md-toolbar>
<div fxLayoutAlign="center center">
  <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
    <router-outlet></router-outlet>
  </div>
</div>

